<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="TestWeelo"
		 providerName="System.Data.ProviderName"
		 connectionString="data source=localhost;
		initial catalog=DB-TestWeelo;persist security info=True; 
		Integrated Security=SSPI;" />
	</connectionStrings>
</configuration>